<html>
  <head>
    <title>ROS 2 package index</title>
    <style>
      body { font-family: Arial, Helvetica, sans-serif; }
      h1 { font-size: 300%; }
      th { text-align: left; font-size: 150%; }
      table { border-collapse: collapse; }
      tr.border { border-bottom: 1px solid black; }
      tr:nth-child(even) { background-color: #ddd; }
    </style>
  </head>
  <h1>ROS 2 packages</h1>
  <table style="width:800px">
    <tr class="border">
      <th>Package</th>
    </tr>
    {%- for pkg in pkgs %}
    <tr>
      <td>
      {%- if pkg['generated'] %}
        <a href="{{ pkg['name']}}/index.html">{{ pkg['name'] }}</a>
      {%- else %}
        {{ pkg['name'] }}
      {%- endif %}
      </td>
    </tr>
    {%- endfor %}
  </table>
</html>
